// first import bootstrap variable
@import "bootstrap/stylesheets/bootstrap/variables";
// second import the YETI theme variables
@import "bootswatch/yeti/variables";
$zindex-modal:             1050;
//$margin-top: ($line-height-computed / 2);
// third import bootstrap
@import "bootstrap/stylesheets/bootstrap";
// forth import cosmo bootswatch
@import "bootswatch/yeti/bootswatch";
// import fontawesome
$fa-font-path:  "/fonts" !default;
@import "fontawesome/font-awesome";

body {
    padding-top: 50px;
}

img { max-width: 100%; height: auto;}

hr { margin-top: 0; }

#flashMessage { position: fixed; top: 0; left: 0; width: 100%; z-index: 1031;}

.btn-file {
        position: relative;
        overflow: hidden;
    }
 .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
 }

 .vertical-align {
    display: flex;
    align-items: center;
}

[rel="popover"]{
            cursor: pointer;
            display:inline-block; /* chrome-fix */
        }